* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: white;
}

a:hover {
  color: #1ED760;
}

body {
  font-family: "Roboto", sans-serif;
}

/*Botão*/
.bnt-primary {
  background: #1ED760;
  font-weight: bold;
  color: #2941AB;
  text-transform: uppercase;
  padding: 15px 60px;
  border: none;
  border-radius: 30px;
}

.logo {
  height: 40px;
  width: auto;
  margin-left: -20%;
}

/*Navbar*/

#navbar {
  display: flex;
  background-color: rgb(0, 0, 0);
  color: white;
  justify-content: center;
}

#navbar .navbar-container {
  width: 60%;
  display: flex;
  background-color: #0000;
  color: white;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
  font-weight: bold;
}

#navbar .navbar-container ul {
  display: flex;
  list-style: none;
  margin-right: -20%;
}

#navbar .navbar-container ul li {
  padding: 0 20px;
}

#navbar .navbar-container ul li:nth-child(3) {
  border-right: 1px solid white;
}

/*Showcase*/

#showcase {
  background-color: #2941AB;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#showcase .showcase-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

#showcase .showcase-container h2 {
  font-weight: bold;
  font-size: 140px;
  color: #1ED760;
}

#showcase .showcase-container p {
  margin: 15px 0;
  font-size: 18px;
  color: #1ED760;
}

/*Footer*/

#footer {
  background: black;
  color: white;
  padding: 80px 0;
}

#footer .footer-content {
  display: flex;
  width: 60%;
  margin: auto;
  font-size: 16px;
  justify-content: flex-end;
}

#footer .footer-content .footer-menu {
  margin: 0 40px;
  list-style: none;
}

#footer .footer-content .footer-menu .footer-menu-item {
  margin: 25px 0;
}

#footer .footer-content .footer-menu p {
  font-weight: bold;
  text-transform: uppercase;
  color: #919496;
  font-size: 14px;
}

/*footer socials*/

.socials {
  display: flex;
}

.socials i {
  margin: 0 15px;
  font-size: 1.8rem;
}

/*Footer Info*/

.footer-info {
  color: #919496;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 85%;
  margin: auto;
}

.footer-info .footer-info-item {
  display: flex;
  list-style: none;
}

.footer-info .footer-info-item {
  margin: 0 10px;
  font-size: 13px;
}

.footer-info .rights .country {
  display: flex;
  font-size: 13px;
  justify-content: flex-end;
  align-items: center;
  margin-bottom: 20px;
}

.footer-info .rights .country .brazil-flag {
  height: 17px;
  width: auto;
  display: inline-block;
  margin-left: 10px;
}