* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
}

#navbar {
  display: flex;
  background-color: black;
  color: white;
  justify-content: center;
}

#navbar .navbar-container {
  width: 60%;
  display: flex;
  background-color: black;
  color: white;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
}

#navbar .navbar-container .logo {
  height: 40px;
  width: auto;
  margin-left: -20%;
}

#navbar .navbar-container ul {
  display: flex;
  list-style: none;
  margin-right: -20%;
}

#navbar .navbar-container ul li {
  padding: 0 20px;
}

#navbar .navbar-container ul li:nth-child(3) {
  border-right: 1px solid white;
}